<td><%= post.title %></td>


<%# 「liked_by?(post.id)」は、ユーザーが「いいね」を押しているかどうかを判別するためのメソッド %>

   
  <td> いいね数  <%= post.likes.count %></td>





<td><%= link_to 'Show', post %></td>


<td><%= link_to 'Edit', edit_post_path(post) %></td>
<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>


