<script>
function rel() {
  if (window.name != "any") {
    location.reload();
    window.name = "any";
  } else {
    window.name = "";
  }
}
rel()
</script>

<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path %>
  <%= link_to '新規登録', new_user_registration_path %>
<% end %>




<h1>Posts</h1>
<h2>Title</h2>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td> いいね <%= post.likes.count %> </td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
    </tr>
  <% end %>

</table>

<%= link_to 'New Post', new_post_path %>




