<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path %>
  <%= link_to '新規登録', new_user_registration_path %>
<% end %>


<h1>Posts</h1>
<table>
 
  <h2>Title</h2>


      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>

            <td> いいね <%= post.likes.count %> </td>

            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
      </tbody>


</table>

<%= link_to 'New Post', new_post_path %>




