<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path %>
  <%= link_to '新規登録', new_user_registration_path %>
<% end %>


<h1>Posts</h1>


      <h2>Title</h2>



  <% @posts.each do |post| %>
   
      <h3><%= post.title %></h3>

      <h3> いいね <%= post.likes.count %> </h3>

      <h3><%= link_to 'Show', post %></h3>
      <h3><%= link_to 'Edit', edit_post_path(post) %></h3>
      <h3><%= link_to 'Destroy', post, method: :delete, data: { confirm: '本当に削除しますか?' } %></h3>

  
  <% end %>


<%= link_to 'New Post', new_post_path %>




